body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  min-width: 500px;
}
img {
  border: 5px solid white;
}
.tarjeta {
  border-radius: 10px;
}
.crear {
  width: 500px !important;
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
  z-index: 2001;
  top: 100px;
}
.editar {
  border-bottom: 3px solid #32383e !important;
  box-shadow: none !important;
  background-color: inherit;
  border: 0;
  border-radius: 0;
  color: white;
}
.editar:hover {
  border-bottom: 3px solid white !important;
}
.editar:focus {
  border-bottom: 3px solid rgb(16, 115, 245) !important;
  background-color: white;
  color: rgb(71, 66, 66);
}

.container-general {
  margin-top: 250px;
}
.cabecera {
  top: 0;
  z-index: 2000;
}
.eliminar {
  cursor: pointer;
  font-size: 20px;
  right: 20px;
  top: 10px;
}
.eliminar:hover {
  color: rgb(199, 39, 39);
}
